:root {
    --dblue: #0042b5;
    --lblue: #4a8cff;
    --black: #3F3F3F;
    zoom: 100%;
}

* {
    font-family: "Arial", Helvetica, sans-serif;
}

.text{
    color: white;
}

body{
    margin: 0;
    background-color: #edf9ff;
}

a{
    text-decoration: none;
}

li {
    display: inline;
}
